:root {
  --bg-primary: #f8fafc;
  --bg-sidebar: #ffffff;
  --bg-input: #ffffff;
  --bg-hover: #f1f5f9;
  --bg-active: #e2e8f0;
  --bg-tags: #f1f5f9;
  --bg-card: #f5f7f9;

  --text-primary: #0f172a;
  --text-main: #1e293b;
  --text-muted: #64748b;
  --text-input: #0f172a;
  --nav-label: #475569;

  --border-color: #8fa7bc;
  --accent: #3b82f6;
  --avatar-bg: #dbeafe;
  --avatar-text: #1d4ed8;
  --border-card: #cbd5e1;
  --nome-card: #0f172a;
  --scritte-card: #334155;
  --tags-card: #334155;
  --piu: #ffffff;
}

[data-theme='dark'] {
  /* Layout e Sfondi Dark */
  --bg-primary: #121212;
  --bg-sidebar: #1e1e1e;
  --bg-input: #2d2d2d;
  --bg-hover: #2d2d2d;
  --bg-active: #252525;
  --bg-tags: #2d2d2d;

  /* Testi Dark */
  --text-primary: #f8f9fa;
  --text-main: #e0e0e0;
  --text-muted: #888888;
  --text-input: #f8f9fa;
  --nav-label: #a0a0a0;

  /* Bordi e Accenti Dark */
    --border-color: #2e2e2e;
    --accent: #60a5fa;
    --avatar-bg: #1a3350;
    --avatar-text: #93c5fd;
    --bg-card: #1a1a1e;
    --border-card: #2d4a7a;
    --nome-card: #7eb3f5;
    --scritte-card: #a8b8cc;
    --tags-card: ##2d5a9e;
    --piu: #000000;
}

body {
  margin: 0;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
