:root {
  /* Layout e Sfondi */
  --bg-primary: #ffffff;
  --bg-sidebar: #ffffff;
  --bg-input: #ffffff;
  --bg-hover: #f8fafc;
  --bg-active: #f0f4f9;
  --bg-tags: #E9E8EC;

  /* Testi */
  --text-primary: #212529;
  --text-main: #0C447C;
  --text-muted: #9aaac0;
  --text-input: #080808;
  --nav-label: #585b5e;

  /* Bordi e Accenti */
--border-color: #b8cde0;
--accent: #378ADD;
--avatar-bg: #ddeaf7;
--avatar-text: #185FA5;
--bg-card: #fffdf9;             /* bianco latte puro */
--border-card: #7aadd9;
--nome-card: #0d0d0d;
--scritte-card: #1a1a1a;
--tags-card: #1a1a1a;
--piu: #ffffff;
}

[data-theme='dark'] {
  /* Layout e Sfondi Dark */
  --bg-primary: #121212;
  --bg-sidebar: #1e1e1e;
  --bg-input: #2d2d2d;
  --bg-hover: #2d2d2d;
  --bg-active: #252525;
  --bg-tags: #2d2d2d;

  /* Testi Dark */
  --text-primary: #f8f9fa;
  --text-main: #e0e0e0;
  --text-muted: #888888;
  --text-input: #f8f9fa;
  --nav-label: #a0a0a0;

  /* Bordi e Accenti Dark */
    --border-color: #2e2e2e;
    --accent: #60a5fa;
    --avatar-bg: #1a3350;
    --avatar-text: #93c5fd;
    --bg-card: #1a1a2e;
    --border-card: #2d4a7a;
    --nome-card: #7eb3f5;
    --scritte-card: #a8b8cc;
    --tags-card: ##2d5a9e;
    --piu: #000000;
}

body {
  margin: 0;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
